body {
font-family: 'Crimson Text', serif
}
img {
  width: 100%;
  margin: 10px 5px;
}
.jumbotron {
border-spacing: 60px 0;
table-layout: fixed;
}
#top {
  background: url("../img/img13.jpg");
  background-size: cover;
  color: white;
  position: relative;
  top: -120px;
  padding: 400px 0 0 50px;
  background-attachment: fixed;
}
#gymword {
  color: rgba(150, 7, 14, 0.8);
}
#top h2 {
  font-size: 100px;
  position: relative;
  left: -305px;
  top: -255px;
}
  #top h3 {
    position: relative;
    left: -285px;
    top: -255px;
  }
  #gymword1 {
    color: rgba(91, 84, 84, .7);
  }
  #top a {
    color: white;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    padding: 15px;
    border-radius: 50%;
    position: relative;
    bottom: 60px;
  }

.logo {
  width:15%;
  position: relative;
  top: -20px;
  left: 50px;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
.deco {
  width: 100%;
  color: white;
  position: relative;
  color: rgba(150, 7, 14, 0.8);
}
.deco-line {
  border-bottom: 2px solid rgba(150, 7, 14, 0.8);
  display: inline-block;
  width: 10%;
  color: white;
}
.deco1 {
  width: 100%;
  color: white;
  position: relative;
  left: -305px;
  top: -255px;
  color: rgba(150, 7, 14, 0.8);
}
.deco-line1 {
  border-bottom: 2px solid rgba(150, 7, 14, 0.8);
  display: inline-block;
  width: 10%;
  color: white;
}
.welcome {
  position: relative;
  top: -175px;
  padding: 0 12%;
}
.welcome p {
  color: grey;
  font-size: 20px;
}
.whatwedo {
  position: relative;
  top: -175px;
  padding: 0 9%;
}
.iconsandtexts {
  position: relative;
  top: 90px;
}
.iconsandtexts i {
  font-size: 40px;
  color: rgba(150, 7, 14, 0.8);
}
.iconsandtexts p{
  font-size: 18px;
  position: relative;
  top: 63px;
}
#iconsandtextss {
  font-size: 15px;
  position: relative;
  top: 25px;
}

.row {
  margin-top: 150px;
  text-align: center;
}
.btn  {
  background-color: #717263;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
#pics {
  position: relative;
  top: 172px;
}
.wtg {
position: relative;;
left: -150px;
max-width: 1100px;
top: 25px;

}
.pics1 {
position: relative;
  margin-top: 60px;
  margin-bottom: -40px;
}
.pics2 {
  position: relative;
    margin-top: 60px;
    margin-bottom: -40px;
}
.facilities {
  position: relative;
  top: -25px;
}
.facilities1 {
  position: relative;
  top: 20px;
}
.facilitiestext{
  position: relative;
  top: 25px;
}
.facilitiestext h4 {
  font-weight: bold;
}
.facilitiestext p {
  text-align: center;
}
#contact {
  position: relative;
}
.contact-box {
  position: relative;
  z-index: 100;
  background: white;
  width: 25%;
  height: 500px;
  top: -400px;
  padding: 30px 5px 0px 5px;
  opacity: 0.85;
  border-bottom: 80px;

}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  position: relative;
  z-index: -1;
}

.btn-md {
  position: relative;
  top: 15px;
}
.btn-md1 {
  position: relative;
  top: 55px;
}
.mot1 {
  border: none;
  border-radius: 400px;
  width: 150px;
  margin: 0 auto;
}
.mot2 {
  border: none;
  border-radius: 400px;
  height: auto;
  width: 150px;
  margin: 0 auto;
}
.mot3 {
  border: none;
  border-radius: 400px;
  width: 150px;
  margin: 0 auto;
}
.mot4 {
  border: none;
  border-radius: 400px;
  width: 150px;
  margin: 0 auto;
}
#mot {
  position: relative;
  bottom: -60px;
}
#teamname {
  position: relative;
  top: 30px;
}
#teamdetail {
  position: relative;
  top: 30px;
}
#socialicons {
  position: relative;
  top:30px;
}
#socialicons1 {
  position: relative;
  top:50px;
}
.btncs {
  background-color: #717263;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
#ourproductslist {
  text-align: left;
}
.ourpdcts {
  position: relative;
  top: -25px;
}
.jumbotron img:hover {
  border: 2px solid black;
  opacity: 0.8;
}
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
